{% extends "index.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container mt-5">
    <h2 class="text-center">Dashboard</h2>
    <div class="row">
        <div class="col-md-6">
            <h4>Your Cash Entries</h4>
            <ul class="list-group">
                {% for entry in cash_entries %}
                    <li class="list-group-item">
                        <strong>{{ entry.source }}</strong>: ${{ entry.amount }} on 
                        
                        {% if entry.datetime == entry.updated_at %}
                        <small>Created at: {{ entry.datetime }}</small>
                    {% else %}
                        <small>Created at: {{ entry.datetime }}</small>
                     
                        <small>Last edited at: {{ entry.updated_at }}</small>
                    {% endif %}


                        <p>{{ entry.description }}</p>
                    </li>
                {% empty %}
                    <li class="list-group-item">No cash entries found.</li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-md-6">
            <h4>Your Expenses</h4>
            <ul class="list-group">
                {% for expense in expenses %}
                    <li class="list-group-item">
                        <strong>{{ expense.description }}</strong>: ${{ expense.amount }} on 
                        

                        <small>Created at: {{ expense.datetime }}</small>
              
                <small>Last edited at: {{ expense.updated_at }}</small>


                    </li>
                {% empty %}
                    <li class="list-group-item">No expenses found.</li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="mt-4 text-center">
        <a href="{% url 'add_cash' %}" class="btn btn-success">Add Cash</a>
        <a href="{% url 'add_expense' %}" class="btn btn-danger">Add Expense</a>
    </div>
</div>
</body>
</html>


{% endblock content %}